{% extends 'main/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>My DICK-tionary</h1>
    <p class="lead">Welcome to my cumzone</p>
    <p> Здесь вам доступно:</p>
    <ol>
      <li>Посмотреть общий список слов и их значений</li>
      <li>Добавить слово в общий список</li>
      <li>НАЙТИ слово в общем списке</li>
      <li>глянуть на кота</li>
    </ol>

  </main>

</div>
{% endblock %}